@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
 @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);
/* -----------x---------------x-------------x-------------x---------------- */
body {
    overflow-x: hidden;
}
.body-wrapper {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}
/* ----------x--------------------x-------- */
.header-container {
    display: flex;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/header-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
.header {
    width: 100%;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 33, 36);
    align-items: center;
}
.theme {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.theme:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.2s;
}

/* .theme:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05)
} */
.theme span:nth-child(1) {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.theme span:nth-child(2) {
    position: absolute;
    top: 0;
    right:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
.theme span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.dark  {
 color: #2196f3;
}
.theme span:nth-child(4) {
    position: absolute;
    top: 0;
    left:0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
.dark .header-link {
    background: #2196f3;
    color: black;
    font-weight: 500;
    box-shadow: 0 0 8px #2196f3, 0 0 10px #2196f3, 0 0 16px #2196f3
}

.dark .header-heading {
    color: #2196f3;
}
.dark .search-link {
    color: #2196f3;
}
.dark .h1 {
    color: #2196f3;
}   
.dark .h3 {
    color: #2196f3;
}   
.dark span {
    color: #2196f3;
}   
.dark .popular-h2 {
    background-color: rgb(29, 33, 36);
}   
.dark .news {
    background-color: rgb(29, 33, 36);
}   
.dark .post-h2 {
    background-color: rgb(29, 33, 36);
}
.dark .post-wrapper {
    background-color: rgb(29, 33, 36);
}
.dark .post-p {
    background-color: rgb(29, 33, 36);
}
.dark .body-wrapper{
    background-color: rgb(29, 33, 36);
}
.dark .p-news{
    background-color: rgb(29, 33, 36);
}
.dark .body{
    background-color: rgb(29, 33, 36);
}
.dark .description{
    background-color: rgb(29, 33, 36);
}
.dark .description{
    background-color: rgb(29, 33, 36);
}
.dark .block{
    background-color: rgb(29, 33, 36);
}
.dark .text-p{
    background-color: rgb(29, 33, 36);
}
.dark .articles-btn{
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
.dark .subscribe-btn{
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
}
.dark .subscribe-btn:hover{
    background: #2196f3;
    animation: rotate 0.7s ease-in-out both;
        animation: storm 0.7s ease-in-out both;
        animation-delay: 0.06s;
        border-color: #2196f3;

}
.dark .articles-btn:hover {
    background-color: rgb(23, 159, 184);
    border-color: rgb(20,185,213) ;
    animation: rotate 0.7s ease-in-out both;
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
    border-color: #2196f3;
}
.dark .h5{
    color: #2196f3;
}
.dark .footer-info{
    color: #2196f3;
}

.logo-link {
    display: flex;
    align-items: center;  
    text-decoration: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif ;
}
.header-logo {
    padding: 25px;
    background-color: rgb(29, 33, 36);
}
.search-link{
    text-decoration: none;
    color: white;
}
.header-heading {
    color: white;
    font-size: 22px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif ;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
}
.header-link{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.search-icon {
    padding: 35px 50px 30px 30px;
    background-color: rgb(29, 33, 36);
}
.header-content {
    display: flex;
    height: 380px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h1 {
    color: white;
    font-size: 27px;
    font-family: 'Open Sans', sans-serif ;
}
.btn {
    width: 170px;
    padding: 20px 0;
    border-radius: 5px;
    outline: none;
    margin-top: 45px;
}
.subscribe-btn {
    margin-right: 10px;
    background-color: rgb(137, 202, 98);
    border-color: transparent;
}
.subscribe-btn:hover {
    background-color: rgb(105, 160, 74);
    border-color: rgb(137, 202, 98);
}
.articles-btn {
    margin-left: 10px;
    background-color: rgb(20,185,213);
    border-color: transparent ;
}
.articles-btn:hover {
    background-color: rgb(23, 159, 184);
    border-color: rgb(20,185,213) ;

}
/* --------------x--------------------------x------------- */

.post-h2 {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    
}
.popular-h2 {
    display: grid;
    grid-template-columns: 1170px ;
    justify-content: center;
    text-align: center;
    background-color: white;
}
.h2-style {
    font-family: 'Open Sans', sans-serif ;
    font-size: 27px;
    font-weight: bold;
    padding: 54px 0;
    color: #18b4cf;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif ;
}
/* -------------x---------------------------------x-------- */
.post-wrapper {
    width: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
}
.posts {
    display: flex;
    width: 1170px;
    justify-content: flex-start;
    align-content: space-around;
    flex-flow: column wrap;
    height: 900px;
}
.post:nth-child(1),
.post:nth-child(3),
.post:nth-child(5) {
    margin-bottom: 20px;
}
.post-p {
    text-align: center;
    padding: 25px 0;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif ;
}
/* --------------x------------------------x-------------- */
.brand {
    display: grid;
    grid-template-columns: 1170px ;
    grid-template-rows: repeat(4, 146px);
    justify-content: center;
    height: 586px;
    width: 100%;
    background-image: url(../img/Shape\ 22.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
/* ------------x--------BRAND H3------------------x--------- */
.h3 {
    grid-row: 2;
    text-align: center;
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    padding: 55px 0 ;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif ;
}
.hr {
    width: 60px;
    height: 2px;
    color: rgb(22, 156, 180);
    background-color: rgb(22, 156, 180);
    border: none;
}
/* ---------------x-----------------------------x------------ */
.partners {
    display: flex;
    justify-content: space-around;
    padding: 55px 0 ;
    width: 1170px;
    margin: 0 auto;
}
/* -------------x----------------------------------x--------- */
.carousel {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, 271px);
    justify-content: center;
    align-self: center;
}
/* ---------------x-------------------------------x---------- */
.news {
    width: 1170px;
    display: grid;
    margin: 0 auto;
    grid-template-rows: 260px 440px 430px 330px;
    grid-template-columns: 412px 365px 320px;
    grid-gap: 30px;
}
/*-------------х--------  БЛОК С КАРТИНКОЙ---------------х------ */
.block {
    background-color: rgb(249, 247, 247);
}
.card{
    justify-self: flex-end;
}
.block2 {
    grid-row: 2;
    justify-self: flex-start;
}
.block3 {
    grid-row: 2;
    grid-column: 3;
    justify-self: flex-end;
}
.block4 {
    grid-row: 3;
    justify-self: flex-start;
}
.block5 {
    grid-row: 3;
    grid-column: 3;
    justify-self: flex-end;
}
.block6 {
    grid-row: 4;
    justify-self: flex-start;
    align-self: flex-start;
}
.block7 {
    justify-self: flex-end;
    grid-row: 4;
    grid-column: 2;
}
/* -----------х------------БЛОКИ ОПИСАНИЯ -----------------х----- */
.description{
    background-color: rgb(249, 247, 247);
}
/* ПАРАГРАФЫ БЛОКОВ */
.p-news {
    background-color: rgb(249, 247, 247);
    padding: 5px 30px 25px 30px;
    text-align: right;
    font-family: 'Open Sans', sans-serif ;
}
/*  ОПИСАНИЕ МАЛЕНЬКИХ БЛОКОВ - ГДЕ В ОПИСАНИИ ОДНА СТРОКА НИЖНЕГО БЛОКА */
.text-p {
    padding: 15px 0;
    background-color: rgb(249, 247, 247);
    width: 277px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif ;
}
/*  ОПИСАНИЕ МАЛЕНЬКИХ БЛОКОВ - ГДЕ В ОПИСАНИИ ОДНА СТРОКА ВЕРХНЕГО БЛОКА */
.text-p1 {
    width: 300px;
    font-family: 'Open Sans', sans-serif ;
}
/*  ЗАГОЛОВОК ПЕРВОГО И ПОСЛЕДНЕНГО БЛОКА */
.h4-center-news {
    text-align: center;
    padding: 40px 25px 30px 25px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif ;
}
/* ЗАГОЛОВОК ОСТАЛЬНЫХ БЛОКОВ  */
.h4-news {
    text-align: right;
    padding: 20px 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif ;
}
/* ОПИСАНИЕ ПЕРВОГО И ПОСЛЕДНЕГО БЛОКА */
.p-center-news {
    padding: 0 30px;
    font-family: 'Open Sans', sans-serif ;
}
/* ОПИСАНИЕ ОСТАЛЬНЫХ БЛОКОВ  */
.description1 {
    width: 390px;
    height: 259px;
}
.description2 {
    width: 554px;
    grid-row: 3;
}
.description3 {
    width: 554px;
    justify-self: flex-end;
    grid-row: 3;
    grid-column: 3;
}
.description4 {
    width: 554px;
    grid-row: 5;
}
.description5{
    width: 554px; 
    grid-row: 5;
    grid-column: 3;
    justify-self: flex-end;
}
.description6 {
    width: 360px;
    grid-row: 4;
    grid-column: 3;
    height: 259px;
    justify-self: self-end;
}
/* -------------x------------------------x---------------- */
.footer {
    width: 100%;
    height: 75px;
    display: grid;
    justify-content: center;
    background-color: rgb(29, 33, 36);
}
.footer-container {
    width: 1170px;
    display: grid;
    grid-template-columns: 710px 385px 65px ;
    align-items: center;
}
/* БЛКО С ТЕКСТОМ */
.footer-info {
    color: white;
    justify-self: flex-start;
    font-family: 'Open Sans', sans-serif ;
}
/* БЛОК С КАРТИНКОЙ ЛОГОПИТА  */
.footer-logo {
    text-transform: uppercase;
    color: rgb(234, 234, 234);
    justify-self: self-end;
}
/*  БЛОК С ТЕКСТОМ ЛОГОТИПА */
.h5 {
    text-transform: uppercase;
    color: rgb(234, 234, 234); 
    font-size: 22px;
    font-weight: bold;
    line-height: 65px;
    align-self: flex-start;
    justify-self: self-end;
    color: rgb(249, 247, 247);
    font-family: 'Open Sans', sans-serif ;
}
/* ------------x------------ХОВЕР НА БЛОКИ :)--- в задании вроде нет ховеров- но на всякий случай------x------------  */
.scale:hover {
    transform: scale(1.02);
}
@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes rotate {
    0%
    {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25%{
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50%{
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75%{
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100%{
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
  
@keyframes storm {
    0% 
    {
        transform: translate3d( 0, 0, 0) translateZ(0);
    }
        
    25%{
        transform: translate3d( 4px, 0, 0) translateZ(0);
    }

    50%{
        transform: translate3d( -3px, 0, 0) translateZ(0);
    }

    75%{
        transform: translate3d( 2px, 0, 0) translateZ(0);
    }

    100%{
        transform: translate3d( 0, 0, 0) translateZ(0);
    }
        
    }
    .wordCarousel {
        font-size: 36px;
        font-weight: 100;
        color: #939393;
    }
    .wordCarousel  div {
            overflow: hidden;
            position: relative;
            float: right;
            height: 65px;
            padding-top: 10px;
            margin-top: -10px;
    }
    .wordCarouselli {
                font-family: Serif;
                color: #ccc;
                font-weight: 700;
                padding: 0 10px;
                height: 45px;
                margin-bottom: 45px;
                display: block;
            }
    
    .flip2 {
     animation: flip2 4s  ease-in-out infinite ; 
     animation-delay: 4s;
     color: #2196f3;
     font-family: "Roboto Condensed", cursive;
    }
     .flip3 {
     animation: flip3 0s ease-in infinite;  
    }
    .flip4 {
    animation: flip4 4s  ease-in infinite reverse; 
    animation-delay: 6s;
    } 
    
    @keyframes flip2 {
        0% { margin-top: -180px; }
        5% { margin-top: -90px;  }
        50% { margin-top: -90px; }
        55% { margin-top: 0px; }
        99.99% { margin-top: 0px; }
        100% { margin-top: -270px; }
    }
    
     @keyframes flip3 {
        0% { margin-top: -270px; }
        5% { margin-top: -180px; }
        33% { margin-top: -180px; }
        38% { margin-top: -90px; }
        66% { margin-top: -90px; }
        71% { margin-top: 0px; }
        99.99% { margin-top: 0px; }
        100% { margin-top: -270px; }
    }
    
    @keyframes flip4 {
        0% { margin-top: -360px; }
        5% { margin-top: -270px; }
        25% { margin-top: -270px; }
        30% { margin-top: -180px; }
        50% { margin-top: -180px; }
        55% { margin-top: -90px; }
        75% { margin-top: -90px; }
        80% { margin-top: -70px; }
        99.99% { margin-top: -50px; }
        100% { margin-top: 40px; }
    }
     
