@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
/* font */

.body-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(58, 73, 101);
    font-family: 'Arimo', sans-serif;
    
}
.table-container {
    width: 1280px;
}
.table {
    background: #e0e0e0;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
}
.header {
    font-size: 22px;
    padding: 25px 0 15px 0;
    vertical-align: middle;
    font-weight: bold;
}
.pricing-plan {
    background-color: #FAFAFA;
    color: #484848;
}
.price-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.price {
    padding: 28px 0;
    font-size: 32px;
    font-weight: bold;
 
}
.cent {
    position: relative;
    bottom: 6px;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}
.month {
    padding-left: 5px;
    font-size: 16px;
}
.text-h2 {
    display: block;
    color: #484848;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}
.text-h1 {
    display: block;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    color: #484848;
}
.head-size {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;  
    font-weight: bold;
}
.standard {
    width: 200px;
    background: #89C331;
    padding: 30px 0 20px  0;
}
.ultimate {
    width: 200px;
    background-color: rgb(240, 74, 86);
    padding: 30px 0 20px  0;
}
.premium {
    width: 200px;
    background-color: #20807C;
    padding: 30px 0 20px  0;
}

.table-body{
    font-size: 16px;
    line-height: 28px;
    color: #484848;
}
.description {
    vertical-align: middle;
    width: 158px;
    background-color: #F2F2F2;
}
.pricing-plan {
    width: 160px;
    vertical-align: middle;
    background-color: rgb(227, 227, 227);

}
.button-cell{
    padding: 28px 0;
}
.contact-us {
    background-color: rgb(72, 72, 72);
    box-shadow:  0px 5px 0px rgba(64, 64, 64, 1);
}
.button-four {
    background-color: #f2f2f2 ;
}
.contact-us:hover {
    background-color: rgb(58, 57, 57);
    box-shadow:  0px 5px 0px rgba(64, 64, 64, 1);
}
.btn-color {
    color: #FFFFFF;
    border-color: transparent ;
}


.btn-size {
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
}

.btn {
    padding: 12px 38px 6px 38px;
}

.img {
    padding: 10px 40%;
    font-weight: normal;
}

/* BLOCK SHADOW */
.shadow {
    box-shadow:  -0px -1px 0px 0px rgba(77, 45, 45, .3);
}