@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* --------------Body wrapper---------------- */
.wrapper{
    width: 1280px;
    background-color: white;
    margin: 0 auto;
    box-sizing: content-box;
}
.header {
    width: 1280;
    margin: 0 auto;
    background-color: white;
    
}
.h1 {
    margin-top: 10px;
    padding-top: 52px;
    padding-bottom: 62px;
    font-size: 80px;
}

.h1 > a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.second-letters{
    color: #4bcaff;
    outline: none;
}



/* -----------------------Navigation bar menu--------------------- */
.nav {
  background-color: white;
}

.menu-list-nav {
    text-align:center;
    list-style-type: none;
    background-color: #35444f;
}
.list-item-nav  {
    display: inline-block;  
}

.menu-link-nav:hover {
    background-color: #222f3a;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.menu-link-nav{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    padding: 18px 0;
    color: white;
    cursor: pointer;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
.menu-link-ramda {
    background-color: #35444f !important;
}
/* ----------------------Navigation bar menu--------------------- */




/*----------------------MAIN CONTANT--------------------- */

.main {
    display: inline-block;
    margin: 0 auto;
    background-color: white;
}

.main-section {
    display: inline-block;
    width: 66%;
    float: left;  
    background-color: white;
         
}
.img-container {
    margin-top: 50px ;
    height: 530px;
    background-color: white;
    margin-bottom: 50px;
    border: solid 1px black;
    line-height: 530px;
    text-align: center;
}
.cection-img{
    margin: 0 auto;
    vertical-align: middle;
}

.cection-img:hover {
    transform: scale(1.3);
    transition-duration: 2s;
}

.aside {
    width: 34%;
    float: left;
    text-align: left;
}

.menu-list-aside {
    float: left;
    border: 1px solid gray;
    text-align: left;
    margin-top: 50px ;
    overflow: hidden;
}

.list-item-aside{
    padding: 15px 120px 30px 40px;
}

.menu-link-aside{
    text-decoration: none;
    font-size: 27px;
    color: #495863;
}

.list-item-aside:hover {
    background-color: #dbdbdb;
    padding: 15px 98px 30px 60px;
        
}
.footer {
    background-color: #b4b7ba;
}

.section-p {
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 35px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}
.menu-list-footer{
    list-style-type: none;
    background-color: #b4b7ba ;
    display: inline-block;
    line-height: 36px;
    vertical-align: middle;
}

.list-item-footer {
    display: inline-block;
}
.menu-link-footer{
    display: inline-block;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 14px 14px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}
.menu-link-footer:hover {
    text-decoration: underline;
    color: #3181a6;
}
.footer-p{
    background-color: #b4b7ba;
    display: inline-block;
    vertical-align: middle;
    font-size: 28px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    padding-left: 100px;
}



