@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700&display=swap');


/* ------x---FONTS------x----- */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* --BODY-- */



.body_wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    margin: 0 auto;
    width: 1068px;
}
/* --BODY-- */


/* --HEADER LOGO-- */
.header {
    width: 100%;
}

.logo {
    display: inline-block;
    float: left;
}


.logo-a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 50px 0;
}

.logo-img {
    width: 48px;
    vertical-align: top;
}

.logo-a:hover {
    filter: invert(55%) sepia(15%) saturate(7467%) hue-rotate(343deg) brightness(93%) contrast(103%);
}
/* --HEADER TEXT-- */
.span-p {
    display: inline-block;
    vertical-align: middle;
}
.logo-p1 {
    display: block;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.logo-p2 {
    display: block;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

/* -x-HEADER LOGO-x- */


.header-contacts {
    display: inline-block;
    float: right;
    padding: 50px 0;
    text-align: right;

}

.a-contacts {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Roboto', sans-serif;

}
/* ------------------IMAGE BLOCKS + DESCRIPTION----------------------- */
.main {
    display: inline-block;
    position: relative;
}

.img-block {
    display: block;
    border: 3px solid transparent;

}
.img-block:hover {
    background: rgb(204, 117, 230);
    background: -moz-linear-gradient(30deg, rgb(204, 117, 230) 38%, rgb(90, 140, 250) 70%);
    background: -webkit-linear-gradient(30deg, rgb(204, 117, 230) 38%, rgb(90, 140, 250) 70%);
    background: -o-linear-gradient(30deg, rgb(204, 117, 230) 38%, rgb(90, 140, 250) 70%);
    background: -ms-linear-gradient(30deg, rgb(204, 117, 230) 38%, rgb(90, 140, 250) 70%);
    background: linear-gradient(120deg, rgb(204, 117, 230) 38%, rgb(90, 140, 250) 70%);
}

.element-block {
    display: inline-block;
}
.description {
    display: inline-block;
    position: relative;
    opacity: 0;
    width: 100%;
    background-color: #f26522;

}
.top-card:hover .description {
    display: inline-block;
    position: relative;
    opacity: 1;
    width: 309px;
    background-color: #f26522;
    background-clip: content-box;  
    transform: translateY(-67px);
    transition-duration: .8s;
    padding-left: 3px;

}
.bottom-card:hover .description {
    display: inline-block;
    position: relative;
    opacity: 1;
    width: 309px;
    background-color: #f26522;
    background-clip: content-box;  
    transform: translateY(-67px);
    transition-duration: .8s;
    padding-left: 3px;

}
.price {
    float: left;
    padding: 19px 25px 10px 25px;
    text-decoration: none;
}
.price-p {
    font-size: 12px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
.price-money {
    font-size: 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
 .details {
     display: inline-block;
     float: right;
     padding: 27px 20px 10px 15px;
 }

 .view-p {
     display: inline-block;
     font-size: 16px;
     color: white;
     font-family: 'Roboto', sans-serif;
 }
 .view-p::after {
    content: '\203a';
    position: relative;
    font-size: 26px;
    padding: 6px 20px 0 20px;
    /* МОЖНА ЗАКОМЕНТИТЬ ЕСЛИ ЧТО */
    animation: move 1s ease-out infinite  alternate;
    animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
    /* МОЖНА ЗАКОМЕНТИТЬ ЕСЛИ ЧТО */
}


/* ---------------------------- */
.top-card:first-child{
    display: inline-block;
    padding-right: 38px;
    float: left;
}

.top-card:nth-of-type(2) {
    display: inline-block;
    padding-left: 29px;
}
.top-card:nth-of-type(3) {
    display: inline-block;
    float: right;

}

.bottom-card {
    display: inline-block;
}

.bottom-card:nth-of-type(4){
    display: inline-block;
    float: left;
    padding-right: 67px;
    
}

.bottom-card:nth-of-type(5){
    display: inline-block;
    float: left;
    
}
.bottom-card:nth-last-of-type(1){
    display: inline-block;
    float: right;
    
}

.main-p {
    display: block;
    position: relative;
    bottom: 48px;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.main-p:hover {
    color: #f26522;
}
/*  FOOTER BLOCK with Text */
.footer-p{
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


/* ANIMATION  COMENTS*/ 

@keyframes move {
    0% {
        left: 0;
    }
    100% {
        left: 20px;
    }
}
/* ANIMATION  COMENTS*/ 