.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
   .highlight {
       background-color: black;
   }
   .white {
       background-color: white;
   }
   td {
       border: 2px solid black;
   }
   .revers {
       background-color: black;
   }
   .revers  .highlight {
       background-color: white;
   }
   .revers td {
       border: 2px solid white;
   }
