body{
    background: black;
    overflow: hidden;
    color: #ffb13a;
}
.crawl {
    font-family: sans-serif;
    text-align: justify;
    margin: 0 auto;
    font-weight: 800;
    font-size: 50px;
    line-height: 80px;
    width: 1200px;
    height: 1200px;
    transform: perspective(200px) rotateX(20deg);
    animation: play 30s infinite ;
    animation-timing-function: linear;
}
.preheader {
    text-align: center;
    margin: 40px 0;
}
.header {
    text-align: center;
    margin: 0 0 100px 0;
}
.audio {
    position: absolute;
    opacity: 0.1;
    outline: none;
}
@keyframes play {
    0%{
        opacity: 1;
        transform: perspective(250px) rotateX(20deg) translateY(800px) ;

    }
    99%{
        transform: perspective(250px) rotateX(20deg) translateY(-800px);
        opacity: 1;
    }


    100%{
        transform: perspective(250px) rotateX(20deg) translateY(-1200x) ;
        opacity: 0;
    }
}