body {
    height: 600px;
    position: absolute;
    top: 50%;
    left: 45%;
    text-align: center;
    background-color: darkslategray;
    font-weight: bolder;
    font-size: 60px;
    color: darkorange;
}