@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
/* font */

.body-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(58, 73, 101);
    font-family: 'Arimo', sans-serif;
    
}
.table-container {
    width: 1280px;
}
.table {
    background: #e0e0e0;
    border-collapse: collapse;
    width: 100%;
    font-size: 2rem;
    border-spacing: 0;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
}
th {
    vertical-align: middle;
}
.pricing-plan {
    background-color: #FAFAFA;
    color: #484848;
}
.price-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.price {
    display: inline-block;
    padding: 25px 0;
    font-size: 60px;
    font-weight: bold;
    line-height: 28px;  
}
.cent {
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.month {
    font-size: 18px;
    line-height: 28px;
}
.second-block {
    display: inline-block;
}
.text-h2 {
    color: #484848;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}
.text-h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    color: #484848;
}
.head-size {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;  
    font-weight: bold;
}
.standard {
    background: #89C331;
    padding: 16px 57px;
}
.ultimate {
    background-color: rgb(240, 74, 86);
    padding: 16px 57px;

}
.premium {
    background-color: #20807C;
    padding: 16px 57px;
}

.table-body{
    font-size: 16px;
    line-height: 28px;
    color: #484848;
}
.description {
    background-color: #F2F2F2;
    padding: 22px 0;
}
.pricing-plan {
    background-color: #E3E3E3;
    padding: 22px 0;
}
.button-cell{
    padding: 28px 0;
}
.contact-us {
    background-color: rgb(72, 72, 72);
    box-shadow:  0px 5px 0px rgba(64, 64, 64, 1);
}
.button-one {
    background: #DDDDDD;
}
.button-two {
    background: #EEEEEE;
}
.button-three {
    background-color: #FAFAFA;
}
.button-four {
    background-color: #f2f2f2 ;
}
.contact-us:hover {
    background-color: rgb(58, 57, 57);
    box-shadow:  0px 5px 0px rgba(64, 64, 64, 1);
}
.btn-color {
    color: #FFFFFF;
    border-color: transparent ;
}
.btn-standard{
    background: #89C331;
    box-shadow:  0px 5px 0px rgba(121, 176, 39, 1);
}
.btn-standard:hover {
    background: rgb(103, 153, 29);
    box-shadow:  0px 5px 0px rgba(121, 176, 39, 1);
}
.btn-ultimate {
    background-color: rgb(240, 74, 86);
    box-shadow:  0px 5px 0px rgba(253, 58, 70, 1);
}
.btn-ultimate:hover{
    background-color: rgb(197, 56, 65);
    box-shadow:  0px 5px 0px rgba(253, 58, 70, 1);
}
.btn-premium{
    background-color: #20807C;
    box-shadow:  0px 5px 0px rgba(22, 115, 111, 1);
}
.btn-premium:hover {
    background-color: rgb(20, 92, 89);
    box-shadow:  0px 5px 0px rgba(22, 115, 111, 1);
}

.btn-size {
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
}

.btn {
    padding: 15px 48px 6px 48px;
}
.btn-2 {
    padding: 15px 62px 6px 62px;
 
}
.img {
    padding-right: 5px;
}
/* BLOCK SHADOW */
.shadow {
    box-shadow:  -1px 0px 1px 0px rgba(0,0,0,0.1);
}