
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');



.body-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/Без\ имени-1\ копия.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
    position: relative;

}
.content {
    display: inline-block;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);

}
.header {

    width: 1280px;
    margin: 0 auto;

}

/* Логотип с ховером  */

.logo-a {

    font-size: 22px;
    padding: 20px 0;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family: 'Verdana',"Roboto", sans-serif;
    float: left;
    text-decoration: none;
}
.logo-a:hover {
    color: #00b975;
}
/* -----х--------------х---------- */

/* Боковой текст с "регистрация и вход" */
.header-form {

    float: right;
    color: white;
    line-height: 62px;
    margin-left: 24px;
    vertical-align: middle;
    font-family: 'Verdana',"Roboto", sans-serif;
}
.header-link {
    color: #3cb878;
    text-decoration: none;
}
.header-link:hover {
 text-decoration: underline;
}
/* ------х----------------х-------- */

/*  Иконки в хедере + ховеры на иконки*/
.icons {
    padding: 12px 0;
    float: right;
    
}
.header-icons1 {
    float: right;
    width: 38px;
    height: 38px;
    margin: 0 26px 0 14px;
    background: url(../img/css_sprites\ \(1\).png) 0px 40px;
   }
   
   .header-icons1:hover {
    float: right;
    width: 38px;
    height: 38px;
    margin: 0 26px 0 14px;
    background:url(../img/css_sprites\ \(1\).png) 95px 40px;
   }

.header-icons1::after {
    content: '|';
    position: relative;
    top: 8px;
    font-size: 22px;
    color: white;
    opacity: 0.5;
    margin-left: 58px;
   }

/* Иконка 3 */
.header-icons2 {
    float: right;
    width: 38px;
    height: 38px;
    margin: 0 14px;
    background: url(../img/css_sprites\ \(1\).png) 87px 0px;
   }
/* Иконка 2 */
.header-icons2:hover {
    float: right;
    width: 38px;
    height: 38px;
    margin: 0 14px;
    background: url(../img/css_sprites\ \(1\).png) 0px 80px;
   }
/* Иконка 1 */
.header-icons3 {
    float: right;
    width: 38px;
    height: 38px;
    margin:0 14px;
    background: url(../img/css_sprites\ \(1\).png)40px 41px;
   }
.header-icons3:hover {
    width: 38px;
    height: 38px;
    margin:0 14px;
    background: url(../img/css_sprites\ \(1\).png) 40px 0px;
    float: right;
   }

   /* -----x-------------------------------------x----------- */


   /* выравнивание формы относительно экрана */
/* 
   /* Блок формы */
.form {
    position: absolute;
    width: 444px;
    background-color: white;
    border-radius: 8px;
    /* box-shadow:  0px 2px 1px 0px rgb(149, 144, 144); */
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
}

.form-content{
    position: relative;
    margin: 0 auto;
    top: 26px;   
    width: 320px;
}

/* Зеленый квардратик в форме  */

.square{
    margin: 30px 0 0 0;
    width: 18px;
    height: 18px;
    background-color: #00b975;
    float: left;  
}
/* ---------------------- */

/* Способы авторизации sign up - log in */

.sign-up {
    float: left;
    font-size: 24px;
    font-family: 'Verdana', sans-serif;
}
.log-in {
    float: right;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    vertical-align: bottom;
    color: #00b975 ;
    font-family: 'Verdana', sans-serif;
}
.log-in:hover {
  text-decoration: underline;
}
.clearfix {
    clear: both;
}
/* ----------------------------------- */

/*  Кнопки фейсбука и гугла */
.button-log {
    text-align: center;
}
/* общий стиль */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    padding: 0 32px 0 48px;
    border: none;
    text-align: left;
    line-height: 46px;
    white-space: nowrap;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    text-align: left;
    cursor: pointer;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    left: 5px;
    width: 38px;
    height: 80%;
    line-height: 46px;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,.2);
  }
  
  
  /* Facebook */
  .loginBtn-facebook {
    background-color: #005DBC;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 -1px 0 #354C8C;
    float: left;
  }
  .loginBtn-facebook::before {
    border-right: #364e92 1px solid;
    background: url(../img/facebook-button.png) 10px 8px no-repeat;
    
  }
  .loginBtn-facebook::after {
    content: 'Facebook';
    position: relative;
    left: 10px;
  }

  .loginBtn-google::after {
    content: 'Google';
    position: relative;
    left: 10px;
  }

  .loginBtn-facebook:hover, .loginBtn-facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  /* Google */
  .loginBtn-google {
    width: 150px;
    float: right;
    font-family: 'Roboto', sans-serif;
    background: #DD4B39;
  }
  .loginBtn-google:before {
    border-right: #BB3F30 1px solid;
    background: url(../img/google+.png) 6px 10px no-repeat;
  }
  .loginBtn-google:hover, .loginBtn-google:focus {
    background: #E74B37;
  }

  /* -----------------х----------------------х--------------------- */

  /* Полупрозрачная линия  */
  .line-p {
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }

  .line-p > .span-line {
    display: inline-block;
    margin: 32px 0px 17px 0px;
    color: #858585;
  }
  .line-p > .span-line:before,
  .line-p > .span-line:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid #AEAEAE;
    margin-top: .6em;
    opacity: 0.3;
  }
  .line-p > .span-line:before {
    margin-left: -106%;
  }
  .line-p > .span-line:after {
    margin-left: 20px;
  }
  /* ----------х------------------------х------------- */

 /*  Инпуты  */
.input-span1{
    position: absolute;
    top: 174px;
    left: 20px;
    transition: all 200ms;
    cursor: text;
    opacity: 0.3;
}
.input-span2{
    position: absolute;
    top: 236px;
    left: 20px;
    transition: all 200ms;
    cursor: text;
    opacity: 0.3;
}
.input-span4{
    position: absolute;
    top: 360px;
    left: 20px;
    transition: all 200ms;
    cursor: text;
    opacity: 0.3;
}
.input-span5{
    position: absolute;
    top: 422px;
    left: 20px;
    transition: all 200ms;
    cursor: text;
    opacity: 0.3;
}

.input::placeholder {
  color:#858585 ;
  opacity: 0.5;
  font-size: 15px;
  cursor: text;
  font-weight: 500;
  font-family: sans-serif;
}

.input:focus::-webkit-input-placeholder {
  color: transparent
}

.form-field .input-all:focus + .span-all, .form-field .input-all:valid + .input-all{
    cursor: default;
}

.form-field .input {
    margin: 5px 0;
    padding-left: 20px;
    width: calc(100% - 24px);
    height: 44px;
    border: 2px solid #EAEAEA;
    border-radius: 4px;
    outline: none;
    transition: all 200ms;

}
.form-field .input-first {
    
    padding-left: 20px;
    margin-bottom: 5px;
    width: calc(100% - 24px);
    height: 46px;
    border: 2px solid #EAEAEA;
    border-radius: 4px;
    outline: none;
    transition: all 200ms;

}
.form-field .input-lust {
    padding-left: 20px;
    margin-top: 5px;
    width: calc(100% - 24px);
    height: 46px;
    border: 2px solid #eaeaea;
    border-radius: 4px;
    outline: none;
    transition: all 200ms;

}

.form-field .input-all:focus {
    box-shadow:  0px 4px 6px 0px #eaeaea;
}

.form-field .input-first:focus + .input-span1,
.form-field .input:focus + .input-span2,
.form-field .input:focus + .input-span4,
.form-field .input-lust:focus + .input-span5 {
  display: none;
}

.form-field .input-all:valid + .input-span1,
.form-field .input-all:valid + .input-span2
.form-field .input-all:valid + .input-span4
.form-field .input-all:valid + .input-span5 {
  display: none;
} 



/*  Чекбокс и условия */
.terms {
    margin-top: 20px;
}

/* прячем input checkbox */

.c2[type="checkbox"] {
    display: none;
  }
   
  /* стили для метки */
  .c1 {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 20px;
    padding: 5px 0;
    vertical-align: middle;
  }
   
  /* формируем внешний вид чекбокса в псевдоэлементе before */
  .c1:before {
    content: " ";
    color: #000;
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    line-height: 20px;
    vertical-align: middle;
  }
   
  /* вариации внешнего вида в зав-ти от статуса checkbox */
  /* checked */
  .c2:checked + .c1:before {
    content: '\2713';
    color: green;
    font-weight: bolder;

  }
  /* disabled */
  .c2:disabled + .c1:before {
    background: #eee;
    color: #aaa;
  }
  .a-check {
    color: #00b975 ;
    text-decoration: none;
  }
  .a-check:hover {
    text-decoration: underline;
  }
  .create-button {
    margin: 25px 0 30px 0;
    text-align: center;
  }
 .accaunt-button {
    padding: 18px 100px;
    margin-bottom: 30px;
    background-color: #00b975 ;
    border-color: #00b975;
    color: white;
    font-size: 15px;
    font-family: Verdana ,"Roboto" sans-serif;
    border-radius: 6px;
    cursor: pointer;
 }
 .accaunt-button:hover {
  outline: none;
  background-color: #02905c ;
  border-color: #00b975;
 }
/* ----х----------------х----- */
