body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    display: flex;
    height: 18;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
	
}

button {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    border-color: gray;
    outline: none;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 38px;
}

span {
    line-height: 72px;
    margin: 10px 10px;
    width: 350px;
    height: 70px;
    border: 3px solid gray;
    border-radius: 20px;
    font-size: 48px;
    vertical-align: middle;
    text-align: center;
    
}

.new-input {
    position: relative;
    width: 500px;
    height: 100px;
    font-size: 60px;
    text-align: center;
    border: 3px solid gray;
margin-bot: 10px;
 
    
}
.current-price {
    margin-top: 100px;
    font-size: 42px;
    padding-right: 40px;
}
input:focus {
    border-color: rgb(21, 133, 21);
    
  }

::-webkit-input-placeholder {
    text-align:center;
    }
    
    :-moz-placeholder { /* Firefox 18- */
       text-align:center;  
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
       text-align:center;  
    }
    
    :-ms-input-placeholder {  
       text-align:center; 
    }