@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');
@import url("https://use.typekit.net/gqg3sku.css");
/* -------------Fonts------------ */

 /* Header navigation  */
 .header_container {
   height: 50px;
 }

 .menu_list {
   margin-top: 30px;
   list-style-type: none;
   text-align:center;
 }

 .menu_list .list_item {
  display:inline-block;
 }

.menu_link {
   text-decoration: none;
   padding: 0 60px;
   font-family: 'roboto',  sans-serif/serif;;
   color: #16a085;
 }

 /* IMAGE  */
.top_img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

/* TEXT SECTION */
.main_content {
  background-color: #f5f6f7 ;

}
.text_content {
  text-align:center;
}

.text_h2{
margin-top: 55px;
font-family: 'roboto', sans-serif/serif;
}

.text_p {
padding: 0 110px;
font-family: 'roboto', sans-serif/serif;;
}

/* BUTTON  */
.btn {
  width: 190px;
  height: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  outline: none !important;
  background-color: #16a085;
  color: white;
  border-color: #29ca97;
  margin-top: 24px;
  margin-bottom: 95px;
}

/* FOOTER */
.footer_container {
height: 105px;
text-align: right;

}
.footer_p {
 padding-right: 100px;
 padding-top: 50px;
 font-family: 'roboto', sans-serif/serif;
font-size: 16px;
}
